venv/
.venv/
assets/*
!assets/ar_fox.png
!assets/ar_soccer.png
!assets/ar_cat.png
!assets/ar_dog.png
!assets/ar_rabbit.png
!assets/ar_redpanda.png
!assets/ar_squirrel.png
!assets/ar_vermeer.png
!assets/ar_wolf.png
!assets/ar_gura.png
!assets/ar_bear.png
!assets/base.png
!assets/base_copy.png
!assets/auto/
!assets/auto/*.png
!assets/pose/
!assets/pose/*.jpg