venv/
.venv/
assets/*
!assets/ar_fox.png
!assets/ar_soccer.png
!assets/ar_momonga.png
!assets/ar_myakumyaku_1.png
!assets/ar_myakumyaku_2.png
!assets/ar_rabbit.png
!assets/ar_redpanda.png
!assets/ar_seiren.png
!assets/ar_squirrel.png
!assets/ar_usagi.png
!assets/ar_vermeer.png
!assets/auto/
!assets/auto/*.png
!assets/pose/
!assets/pose/*.jpg